/* Styling for all pages */
body {
    background-image:url('/assets/images/ramen_background.jpeg');
    
}

hr {
    border-style: solid;
    color: lightgray;
    border-width: 3px;
}

footer {
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    text-align: right;
    font-size: 20px;
    font-family: sans-serif;
    font-style: italic;
    color: floralwhite;
}

.interactive-graph {
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    height: 500px;
    width: 1000px;
}



/* Styling for the navigation bar for all pages */
.navbar {
    border: solid;
    border-width: 1em;
    border-color: goldenrod;
    
}

.left-side {
    color:honeydew;
}

.left-side a {
    color: honeydew;
}

.left-side a:hover{
    text-decoration: none;
}

.right-side {
    display: flex;
}

.navbar > .right-side > div {
    margin-top: 10px;
    margin-right: 15px;
    font-size: 1.4em;
}

.navbar > .right-side > div a {
    color:honeydew;
}
.navbar > .right-side > div a:hover {
    text-decoration: none;
}

.dropdown {
    border:none;
    background:none;
    margin-right: 10px;
    font-size: 1.2em;
    position: relative;
    display: inline-block;
}


button {
    background:none;
    color:honeydew;
    border:none;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 200px;
    z-index: 1;

}

.dropdown-content a {
    color: black;
    padding: 5px 10px;
    text-decoration: none;
    display: block;
}

.dropdown:hover button {
    background-color: goldenrod;
    display: block;
}

.dropdown-content:hover {
    background-color: goldenrod;
}

.dropdown:hover .dropdown-content{
    display:block;
    background-color: goldenrod;
}



/* Styling for homepage image */
.interactive-graph {
    padding-top: 40px;
    padding-left: 0px;
    width: 1100px;
    height: 680px;
    padding-bottom: 25px;
}


.text-wrapper {
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    background-color: goldenrod;
    text-align: left;
    border: solid;
    border-color: black;
    border-width: 10px;
}


/* Styling for homepage box images for outer link */
.box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 100px;
}


.text-box {
    position: relative;
    border:2px;
    border-style: solid;
    border-color: black;
    width:400px;
    height:200px;
    margin-left: 35px;
    align-items: center;

}

.img-text {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 110px;
    padding-right: 100px;
    font-size: 2.5em;
    font-weight: bolder;
    color:white;
    font-style: oblique;
}

.folder-img {
    height: 196px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/* Styling for the Visualization pages - graphs */

.blank-space {
    padding-top: 50px;
}

.visual-title-wrapper {
    padding-top: 30px;
    padding-left: 250px;
    padding-bottom: 20px;
    font-size: 2.5em;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    font-family: sans-serif;
    text-decoration: underline;
    color: white;
}

.graph-image img {
    width: 100%;
    height: 750px;
    padding-left: 250px;
    padding-right: 250px;
}

.visual-descript-wrapper {
    padding-right: 40px;
    padding-left: 100px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 200px;
    margin-right: 200px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    background-color: goldenrod;
    text-align: left;
    border: solid;
    border-color: black;
    border-width: 10px;
}

/* This section styles the comparison page */


.comp-container1 {
    padding-top: 50px;
    padding-left: 75px;
}

.comp-container2 {
    padding-top: 50px;
    padding-left: 20px;

}

.img {
    border:solid;
    border-color: black;
    border-width: 10px;
    height:450px;
    width:800px;
}




/* This section styles the table in Data tab */

.dataframe {
    background-color: white;
}

.table {
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 35px;
}

/* Change the webpage design at different screen sizes */
@media only screen and (max-width: 600px) {
    .navbar {
        float:none;
        width:100%;
    }
}
